@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.skin-blue .main-header .logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: Bold;
  font-size: 24px;
}

.skin-blue .main-header .logo {
          background-color: #274247;
        }

.skin-blue .main-header .logo:hover {
          background-color: #274247;
        }
        
        
.skin-blue .main-header .navbar {
          background-color: #274247;
          font-size: 16px;
  }
  
.skin-blue .main-sidebar {
          font-family: 'Open Sans', sans-serif;
          font-weight: normal;
          font-size: 16px;
          background-color: #274247;
        }

.skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #1a9d49;
                              }

.content-wrapper, .right-side {
          background-color: #F0F8F9;
                                }
                                
.tabs-above .nav {
           background-color: #006cb6;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  color: #274247;
  font-size: 16px;
  margin: 10;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #274247;
  font-size: 16px;
  margin: 0;
}
